.quick__access{
    width: 100%;
}
.quick__access h2{
    color: #130f0fd2;
    font-size: 18px;
    padding: 5px 10px;
}
.quick__access .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.quick__access .cards .card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 10px;
    line-height: 1rem;
}
.quick__access .cards .active{
    background: #379bffbd;
    color: #fff;
    border: 1px solid #379bffbd;
}
.quick__access .card p{
    margin-left: -2.2rem;
}