.sidebar{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sidebar_icons{
    height: 100vh;
    width: 20%;
    background: #0155aa;
}
/* LOGO */
.header{
    width: 100%;
    height: 100px;
    padding: 20px 10px;
    margin: auto;
}
.header .logo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo span{
    color: #fff;
}
/*  */
.sidebar__links{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* LINKS */
.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
    /* padding: 0px 10px;
    height: 95%;
    position: absolute; */
}
.links a{
    text-decoration: none;
    color: #808080;
    margin-bottom: 15px;
}
.links a span{
    font-size: 20px;
}

.links a:hover{
    color: dodgerblue;
}

/* LOGOUT  */

.logout{
    height: 5%;
    position: absolute;
    bottom: 10px;
    padding: 0px 20px;
}

.logout a{
    text-decoration: none;
    color: #808080;
}
.logout a span{
    font-size: 20px;
    /* background: dodgerblue; */
    position: absolute;
    top: 2px;
}
.logout a:hover{
    color: dodgerblue;
}

.section{
    width: 80%;
    height: 100vh;
    background: #3269ff0a;
}
.links__section{
    width: 100%;
}
.links__section ul h2{
   color: #acacacef;
}
.links__section ul li{
    list-style: none;
    margin-bottom: 1.5rem;
}
.links__section ul li a{
    text-decoration: none;
    color: #222222;
}
.links__section ul li a span{
    padding-left: 10px;
    margin-right: 170px;
}
/* .links__section ul li ul{
    display: none;
} */
.links__section ul li ul li{
    list-style: circle;
    margin-top: 1rem;
}
.links__section ul li ul li a{
    color: #808080;
}

@media screen and (max-width: 600px) {
    .header{
        display: none;
    }
    .sidebar_icons{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .links{
        display: flex;
        flex-direction: row;
        margin-top: 5px;
        height: 95%;
        position: absolute;
        bottom: 0;
        /* background: red; */
        padding: 10px;

    }
    .links .link-item{
        padding-left: 32px;
        margin-bottom: 0;
    }
    .links .dash{
        margin-bottom: 0;
    }
    .header .logo{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .logo span{
        color: #fff;
    }
    /*  */
    .section{
        display: none;
    }
    .logout{
        display: none;
    }
}