.dashboard{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
}
.dashboard .aside{
    width: 25%;
    height: 100vh;
    position: fixed;
}
.dashboard .content{
    margin-left: 25%;
    height: auto;
    width: 55%;
    border-right: 1px solid #ccc;
    scroll-behavior: smooth;
    transition: all 0.3s ease;
}
.dashboard .storage{
    position: fixed;
    right: 0;
    top: 0;
    width: 20%;
    height: 100vh;
    background: #ffffff;
}
a{
    cursor: pointer;
}