.dashboard{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #ececec;
}
.dashboard .aside{
    width: 25%;
    height: 100vh;
    position: fixed;
}
.dashboard .content{
    margin-left: 25%;
    width: 55%;
    height: 200vh;
    border-right: 1px solid #ccc;
    /* background: red; */
}
.dashboard .storage{
    position: fixed;
    right: 0;
    top: 0;
    width: 20%;
    height: 100vh;
    background: #eee;
    /* background: red; */
}